/* HOVER 1 */
.hover1 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../assets/img/bg1.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Poppins", serif;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50vh;
  margin: 0;
  padding: 50px 0;
  -webkit-box-shadow: 0px 0px 15px 0px #F5DEF5;
          box-shadow: 0px 0px 15px 0px #F5DEF5;
}

.hover1 .title-bg {
  font-size: 46px;
  background-image: url("../assets/img/bg-text.PNG");
  background-size: cover;
  background-clip: text;
  background-position: center;
  -webkit-background-clip: text;
  color: transparent;
}

.hover1 .person {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hover1 .container {
  border-radius: 50%;
  height: 312px;
  -webkit-tap-highlight-color: transparent;
  -webkit-transform: scale(0.48);
          transform: scale(0.48);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 400px;
}

.hover1 .container:after {
  content: "";
  height: 10px;
  position: absolute;
  top: 390px;
  width: 100%;
}

.hover1 .container:hover {
  -webkit-transform: scale(0.54);
          transform: scale(0.54);
}

.hover1 .container-inner {
  -webkit-clip-path: path("M 390,400 C 390,504.9341 304.9341,590 200,590 95.065898,590 10,504.9341 10,400 V 10 H 200 390 Z");
          clip-path: path("M 390,400 C 390,504.9341 304.9341,590 200,590 95.065898,590 10,504.9341 10,400 V 10 H 200 390 Z");
  position: relative;
  -webkit-transform-origin: 50%;
          transform-origin: 50%;
  top: -200px;
}

.hover1 .circle {
  background-color: #fee7d3;
  border-radius: 50%;
  cursor: pointer;
  height: 380px;
  left: 10px;
  pointer-events: none;
  position: absolute;
  top: 210px;
  width: 380px;
}

.hover1 .img {
  pointer-events: none;
  position: relative;
  -webkit-transform: translateY(20px) scale(1.15);
          transform: translateY(20px) scale(1.15);
  -webkit-transform-origin: 50% bottom;
          transform-origin: 50% bottom;
  -webkit-transition: -webkit-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hover1 .container:hover .img {
  -webkit-transform: translateY(0) scale(1.15);
          transform: translateY(0) scale(1.15);
}

.hover1 .img1 {
  left: 22px;
  top: 164px;
  width: 340px;
}

.hover1 .divider {
  background-color: #011f4b;
  height: 1px;
  width: 160px;
}

.hover1 .name {
  font-size: 36px;
  font-weight: 600;
  margin-top: 16px;
  text-align: center;
}

.hover1 .title {
  font-size: 14px;
  font-style: italic;
  margin-top: 4px;
}

/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: poppins;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #FDFDFD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
}

section {
  padding: 50px;
}

.section-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.click-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 120px;
  height: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.7rem;
  line-height: 35px;
  border: 1px solid;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  color: #000;
  text-decoration: none;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn-1 {
  border-color: #CAB5F4;
  color: #CAB5F4;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.btn-1:hover {
  -webkit-box-shadow: inset 5em 0 0 0 #c2e9fb, inset -5em 0 0 0 #c2e9fb;
          box-shadow: inset 5em 0 0 0 #c2e9fb, inset -5em 0 0 0 #c2e9fb;
  border-color: #c2e9fb;
  color: #fff;
}

.btn-2 {
  border-color: #CAB5F4;
  color: #CAB5F4;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.btn-2:hover {
  -webkit-box-shadow: inset 0 0 0 2em #c2e9fb;
          box-shadow: inset 0 0 0 2em #c2e9fb;
  border-color: #c2e9fb;
  color: #fff;
}

.btn-3 {
  color: white;
  background-image: -webkit-gradient(linear, left top, right top, from(#CAB5F4), color-stop(50%, #c2e9fb), to(#CAB5F4));
  background-image: linear-gradient(to right, #CAB5F4 0%, #c2e9fb 50%, #CAB5F4 100%);
  background-size: 200% auto;
  background-position: left top;
  border-color: transparent;
}

.btn-3:hover {
  background-position: right bottom;
}

.btn-4 {
  position: relative;
  background-color: #CAB5F4;
  border-color: #CAB5F4;
  color: #fff;
  overflow: hidden;
}

.btn-4::before, .btn-4::after {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100px) skewX(-15deg);
          transform: translateX(-100px) skewX(-15deg);
  content: "";
}

.btn-4::before {
  width: 60px;
  background: rgba(255, 255, 255, 0.5);
  -webkit-filter: blur(30px);
          filter: blur(30px);
  opacity: 0.5;
}

.btn-4::after {
  width: 30px;
  left: 30px;
  background: rgba(255, 255, 255, 0.2);
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.btn-4:hover {
  background-color: #c2e9fb;
  border-color: #c2e9fb;
}

.btn-4:hover::before {
  opacity: 1;
}

.btn-4:hover::before, .btn-4:hover::after {
  -webkit-transform: translateX(300px) skewX(-15deg);
          transform: translateX(300px) skewX(-15deg);
  -webkit-transition: all 0.9s ease;
  transition: all 0.9s ease;
}

.btn-5 {
  position: relative;
  border: 1px solid #CAB5F4;
  background-color: transparent;
  color: #CAB5F4;
  overflow: hidden;
}

.btn-5 span {
  position: relative;
  z-index: 2;
}

.btn-5::before, .btn-5::after {
  width: 100%;
  height: 50%;
  position: absolute;
  left: 0;
  background-color: #c2e9fb;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  content: "";
  z-index: 1;
}

.btn-5::before {
  top: 0;
  -webkit-transform: translate(-101%, 0);
          transform: translate(-101%, 0);
}

.btn-5::after {
  bottom: 0;
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
}

.btn-5:hover {
  border-color: #c2e9fb;
  color: white;
}

.btn-5:hover::before, .btn-5:hover::after {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.section-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 25px;
  font-size: 20px;
}

.section-2 .link {
  position: relative;
  white-space: nowrap;
  color: var(--color-text);
}

.section-2 .link::before,
.section-2 .link::after {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #CAB5F4;
  top: 100%;
  left: 0;
  pointer-events: none;
}

.section-2 .link::before {
  content: '';
}

.section-2 .link-1::before {
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: scale3d(0, 1, 1);
          transform: scale3d(0, 1, 1);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.section-2 .link-1:hover::before {
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
}

.section-2 .link-2::before {
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transition: -webkit-clip-path 0.3s, -webkit-transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
  transition: -webkit-clip-path 0.3s, -webkit-transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
  transition: clip-path 0.3s, transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
  transition: clip-path 0.3s, transform 0.3s cubic-bezier(0.2, 1, 0.8, 1), -webkit-clip-path 0.3s, -webkit-transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
  -webkit-clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%, 100% 100%, 100% 0%);
          clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%, 100% 100%, 100% 0%);
}

.section-2 .link-2:hover::before {
  -webkit-transform: translate3d(0, 2px, 0) scale3d(1.08, 3, 1);
          transform: translate3d(0, 2px, 0) scale3d(1.08, 3, 1);
  -webkit-clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 50% 0, 50% 0, 50% 100%, 50% 100%, 0 100%, 100% 100%, 100% 0%);
          clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 50% 0, 50% 0, 50% 100%, 50% 100%, 0 100%, 100% 100%, 100% 0%);
}

.section-2 .link-2 span {
  display: inline-block;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
  transition: transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
  transition: transform 0.3s cubic-bezier(0.2, 1, 0.8, 1), -webkit-transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
}

.section-2 .link-2:hover span {
  -webkit-transform: translate3d(0, -2px, 0);
          transform: translate3d(0, -2px, 0);
}

.section-2 .link-3::before {
  height: 10px;
  top: 100%;
  opacity: 0;
}

.section-2 .link-3:hover::before {
  opacity: 1;
  -webkit-animation: lineUp 0.3s ease forwards;
          animation: lineUp 0.3s ease forwards;
}

@-webkit-keyframes lineUp {
  0% {
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-transform: scale3d(1, 0.045, 1);
            transform: scale3d(1, 0.045, 1);
  }
  50% {
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  51% {
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  100% {
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-transform: scale3d(1, 0.045, 1);
            transform: scale3d(1, 0.045, 1);
  }
}

@keyframes lineUp {
  0% {
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-transform: scale3d(1, 0.045, 1);
            transform: scale3d(1, 0.045, 1);
  }
  50% {
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  51% {
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  100% {
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-transform: scale3d(1, 0.045, 1);
            transform: scale3d(1, 0.045, 1);
  }
}

.section-2 .link-3::after {
  content: '';
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 0;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.section-2 .link-3:hover::after {
  opacity: 1;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.section-2 .link-4 {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  color: black;
}

.section-2 .link-4:hover {
  -webkit-box-shadow: inset 0 -9px 0 0 #CAB5F4;
          box-shadow: inset 0 -9px 0 0 #CAB5F4;
}

.section-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 25px;
  /* Arrow 1 */
  /* Arrow 2 */
}

.section-3 .link {
  text-align: center;
  display: inline-block;
  position: relative;
  color: white;
  text-transform: capitalize;
  background-color: #CAB5F4;
  padding: 12px 0px;
  width: 150px;
  border-radius: 5px;
  overflow: hidden;
}

.section-3 .link-1 {
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}

.section-3 .link-1:before {
  content: ">";
  font-family: Poppins;
  font-size: 15px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  right: 0;
  top: 0;
  opacity: 0;
  height: 100%;
  width: 40px;
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}

.section-3 .link-1:hover {
  text-indent: -20px;
}

.section-3 .link-1:hover:before {
  opacity: 1;
  text-indent: 0px;
}

.section-3 .link-2 {
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}

.section-3 .link-2:before {
  content: ">";
  font-family: Poppins;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0px;
  height: 100%;
  width: 30px;
  background-color: rgba(128, 0, 128, 0.3);
  border-radius: 0 50% 50% 0;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}

.section-3 .link-2:hover {
  text-indent: 30px;
}

.section-3 .link-2:hover:before {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  text-indent: 0;
}

.section-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.section-4 .card {
  position: relative;
  width: 280px;
  height: 400px;
  margin: 20px 0;
  overflow: hidden;
}

.section-4 .imgBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-clip-path: circle(400px at center 100px);
          clip-path: circle(400px at center 100px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.section-4 .imgBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-4 .card:hover .imgBox {
  -webkit-clip-path: circle(110px at center 120px);
          clip-path: circle(110px at center 120px);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.section-4 .content {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40%;
  text-align: center;
}

.section-4 .content p {
  margin: 2px 0 10px 0;
}

.section-4 .content a {
  background: #c2e9fb;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
}

.section-4 .content h2, .section-4 .content p, .section-4 .content a {
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.section-4 .card:hover .content h2, .section-4 .card:hover .content p, .section-4 .card:hover .content a {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.section-4 .card:hover .content h2 {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.section-4 .card:hover .content p {
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}

.section-4 .card:hover .content a {
  -webkit-transition-delay: 0.9s;
          transition-delay: 0.9s;
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.15);
            transform: scale(0.15);
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.15);
            transform: scale(0.15);
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}

.section-5 h1 {
  text-align: center;
  margin-bottom: 20px;
}

.section-5 .container-loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
}

.section-5 .loader {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border-top: 4px solid #121212;
  border-left: 4px solid #121212;
  border-right: 4px solid rgba(255, 255, 255, 0);
  -webkit-animation: spin 0.575s infinite linear;
          animation: spin 0.575s infinite linear;
}

.section-5 .loader2 {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #121212;
  -webkit-animation: pulse 1s infinite linear;
          animation: pulse 1s infinite linear;
}
/*# sourceMappingURL=style.css.map */